APP_IMAGE=*
APP_PORT=*
APP_SEED_ENABLED=*
JAVA_OPTS=-*
SPRING_JPA_HIBERNATE_DDL_AUTO=*
POSTGRES_DB=*
POSTGRES_USER=*
POSTGRES_PASSWORD=*
MINIO_ROOT_USER=*
MINIO_ROOT_PASSWORD=*
JWT_SECRET=*
AWS_REGION=us-east-1
S3_BUCKET_NAME=exams-bucket