APP_IMAGE=ghcr.io/SEU_USUARIO_GITHUB/welcome-university-api:latest
APP_PORT=8080
APP_SEED_ENABLED=false
JAVA_OPTS=-XX:InitialRAMPercentage=25 -XX:MaxRAMPercentage=75
SPRING_JPA_HIBERNATE_DDL_AUTO=update

POSTGRES_DB=*
POSTGRES_USER=*
POSTGRES_PASSWORD=*

